/**
 * Created by ms on 2017-09-26.
 */
.THIS {
    position:center;
}

.THIS .mobile{
    /*margin-top:60%;*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 320px;
}