.THIS {
}
.THIS.slds-spinner_container {
    z-index: 10000;
    position: fixed;

    height: 2em;
	width: 2em;
    overflow: visible;
    background-color: transparent;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.THIS.scrollerSize50vh {
    height: 50vh;
}
.THIS.scrollerSize60vh {
    height: 60vh;
}
.THIS.scrollerSize70vh {
    height: 70vh;
}
.THIS.scrollerSize80vh {
    height: 80vh;
}
.THIS.scrollerSize90vh {
    height: 90vh;
}
.THIS.scrollerSize100vh {
    height: 100vh;
}